<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
 <link rel="stylesheet" href="/wed2020/layout_bootstrap/css/bootstrap.css">   
<header>
<div class="container bg-dark"></div>
<div class="row-col">header</div>
<div class="row-col">nav</div>
<div class="row-col">sector</div>
<div class="row-col">footer</div>
</header>
</body>
</html>