body {
    background: url(https://q-cf.bstatic.com/images/hotel/max1024x768/781/78174633.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


 */
body {
    font-size: 15px;
}


#Contenedor {
    width: 400px;
    margin: 50px auto;
    background-color: rgba(220, 235, 255, 0.87));
    border: 25px solid rgb(180, 30, 30);
    height: 400px;
    border-radius: 8px;
    padding: 0px 9px 0px 9px;
}


.Icon span {
    background:#cornsilk;
    padding: 20px;
    border-radius: 120px;
}


.Icon {
    margin-top: 11px;
    margin-bottom: 11px;
    color: #cornsilk;
    font-size: 50px;
    text-align: center;
}


.opcioncontra {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}


@media only screen and (max-width:320px) {
    #Contenedor {
        width: 100%;
        height: auto;
        margin: 0px;
    }

    
    @media only screen and (max-width:240px) {}