
body {
    background: url(https://2.bp.blogspot.com/-EbHYc574cg8/UTtwSY3EINI/AAAAAAABF3s/rKq9Q1MJ07A/s1600/Paisajes%2Bde%2Bplayas%2B%2525287%252529p.gif);
    background-repeat: no-repeat;
    background-size: cover;

}

 */
body {
    font-size: 15px;
}


#Contenedor {
    width: 400px;
    margin: 50px auto;
    background-color: ();
    border color: blue;: 25px;
    height: 400px;
    border-radius: 8px;
    padding: 0px 9px 0px 9px;
}


.Icon span {
    background:#cornsilk;
    padding: 20px;
    border-radius: 120px;
}


.Icon {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #cornsilk;
    font-size: 40px;
    text-align: center;
}


.opcioncontra {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}


@media only screen and (max-width:320px) {
    #Contenedor {
        width: 100%;
        height: auto;
        margin: 0px;
    }

    
    @media only screen and (max-width:240px) {}