body{
    background: url(https://www.tourinews.es/uploads/s1/31/93/69/intercontinental-se-deshace-de-su-ultimo-hotel-de-lujo-en-murcia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}